* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav .nav-item .nav-link {
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: rgb(252, 248, 16);
    color: #000;
 }

.back {
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.custom-btn {
    background-color: #ffc107; /* Default warning (yellow) color */
    color: black;
  }

  .custom-btn:hover {
    background-color: blue; /* Changes background to blue on hover */
  }
.wave {
    position: absolute;
    background-image: url(img/wave.png);
    width: 100%;
    height: 15px;
    z-index: 10;
    bottom: -2px;
    left: 0px;


    .carousel-item img {
        width: 100%;
        height: auto;
    }
}

.about_us {
    background-color: white;
    width: 700px;
    padding-bottom: 160px;
    padding-left: 50px;
    padding-top: 50px;
    border-radius: 10px;
    top: 200px;
    left: 100px;
    position: absolute;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}



.counter-section {
    background-color: #00aaff;
    padding: 50px 0;
    color: white;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
}

.counter-item {
    text-align: center;
}

.counter-item img {
    width: 50px;
    margin-bottom: 15px;
}

.counter {
    font-size: 48px;
    font-weight: bold;
}

.zoom-effect-container {
    overflow: hidden;
    position: relative;
}

.zoom-effect-container img {
    transition: transform 0.3s ease;
    width: 100%;
    border-radius: 15px;
}

.zoom-effect-container:hover img {
    transform: scale(1.10);
}

.thumb {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.thumb:hover {
    /* filter: blur(5px); */
    transform: scale(1.09);
}



@media (max-width: 991px) {
    .about_us {
        width: 80%;
        padding: 40px;
        top: 150px;
        left: 10%;
        position: relative;
    }
}

@media (max-width: 767px) {
    .about_us {
        width: 90%;
        padding: 30px;
        top: 50px;
        left: auto;
        margin: 0 auto;
        position: relative;
    }
   
}

@media (max-width: 575px) {
    .about_us {
        width: 95%;
        padding: 20px;
        margin: 20px auto;
    }
}